.u-block-948d-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-948d-3 {
  position: absolute;
  left: 0;
}

.u-block-948d-4 {
  position: absolute;
  right: 0;
}

 .u-section-1-1 {
  background-image: url("images/Redhouse.jpg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 950px;
}

.u-section-1-1 .u-list-1 {
  width: 437px;
  margin: 355px auto 0;
}

.u-section-1-1 .u-repeater-1 {
  min-height: 139px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
}

.u-section-1-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1-1 .u-image-1 {
  height: auto;
  transition-duration: 0.75s;
  background-image: url("images/FabimetalLOGO-05.jpg");
  background-position: 50% 50%;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1-1 .u-image-2 {
  height: auto;
  transition-duration: 0.75s;
  background-image: url("images/ROOFINGSlogo-13.jpg");
  background-position: 50% 50%;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1-1 .u-image-3 {
  height: auto;
  transition-duration: 0.75s;
  background-image: url("images/SmartPaintlogo-01.jpg");
  background-position: 50% 50%;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  width: 652px;
  margin: 9px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 783px;
  }

  .u-section-1-1 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
  }

  .u-section-1-1 .u-image-1 {
    width: auto;
  }

  .u-section-1-1 .u-image-2 {
    width: auto;
  }

  .u-section-1-1 .u-image-3 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-1-1 .u-repeater-1 {
    min-height: 417px;
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-1-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-1-1 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 283px;
  }

  .u-section-1-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-1-1 .u-text-1 {
    width: 340px;
  }
}

.u-block-1f7a-8:not([data-block-selected]):not([data-cell-selected]),
.u-block-1f7a-8:not([data-block-selected]):not([data-cell-selected]):before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-1f7a-8:not([data-block-selected]):not([data-cell-selected]).u-block-1f7a-8:not([data-block-selected]):not([data-cell-selected]).u-block-1f7a-8:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: translateX(1px) rotate(0deg) translateY(1px) !important;
}

.u-block-1f7a-8.u-block-1f7a-8.u-block-1f7a-8.hover {
  transform: translateX(1px) rotate(0deg) translateY(1px) !important;
}

.u-container-layout:hover .u-block-1f7a-8:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-1f7a-8 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1-1 .u-image-3,
.u-section-1-1 .u-image-3:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1-1 .u-image-3.u-image-3.u-image-3:hover {
  transform: translateX(0px) translateY(-10px) scale(1) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
}

.u-section-1-1 .u-image-3.u-image-3.u-image-3.hover {
  transform: translateX(0px) translateY(-10px) scale(1) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
}

.u-section-1-1 .u-container-layout:hover .u-image-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1-1 .u-image-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1-1 .u-image-1,
.u-section-1-1 .u-image-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1-1 .u-image-1.u-image-1.u-image-1:hover {
  transform: translateX(0px) translateY(-10px) scale(1) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
}

.u-section-1-1 .u-image-1.u-image-1.u-image-1.hover {
  transform: translateX(0px) translateY(-10px) scale(1) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
}

.u-section-1-1 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1-1 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1-1 .u-image-2,
.u-section-1-1 .u-image-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1-1 .u-image-2.u-image-2.u-image-2:hover {
  transform: translateX(0px) translateY(-10px) scale(1) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
}

.u-section-1-1 .u-image-2.u-image-2.u-image-2.hover {
  transform: translateX(0px) translateY(-10px) scale(1) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
}

.u-section-1-1 .u-container-layout:hover .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1-1 .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}